
body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-weight: 200;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem 2rem;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  position: fixed;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 1.5em;
}

.menu {
  display: flex;
  gap: 20px;
}

.menu a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1em;
}

.menu a:hover {
  color: #3d9efe;
}

